.navbar.navbar-default
  .container
    .navbar-header
      .navbar-brand=brand
      ul.nav.navbar-nav
        li(class=(path === '' ? 'active' : ''))
          a(href='/') Home
        li(class=(path === 'about' ? 'active' : ''))
          a(href='/about') About
        li(class=(path === 'support' ? 'active' : ''))
          a(href='/support') Support
        li(class=(path === 'contact' ? 'active' : ''))
          a(href='/contact') Contact
