extends layout

block content
  .row
    .col-lg-12
      h1.page-header
        | About Us 
        small It's Nice to Meet You!
      p
        | This is a great place to start off with a short and sweet description of your company, organization, or whatever purpose your website is serving. Keep it friendly, engaging, but short enough to where you won't lose your reader!
      p
        | If you need a bit more space to describe what is going on, we recommend putting a picture in this section. Use the
        code pull-right
        | class on the image to make it look good!
    .col-lg-12
      h2.page-header Our Team
  .row
    .col-lg-4.col-sm-6
      img.img-circle.img-responsive(src='http://lorempixel.com/200/200/cats/')
      h3
        | John Catsmith 
        small Job Title
      p
        | What does this team member to? Keep it short! This is also a great spot for social links!
    .col-lg-4.col-sm-6
      img.img-circle.img-responsive(src='http://lorempixel.com/200/200/cats/')
      h3
        | Bill Meower 
        small Job Title
      p
        | What does this team member to? Keep it short! This is also a great spot for social links!
    .col-lg-4.col-sm-6
      img.img-circle.img-responsive(src='http://lorempixel.com/200/200/cats/')
      h3
        | Jane Bellyrubs 
        small Job Title
      p
        | What does this team member to? Keep it short! This is also a great spot for social links!
    .col-lg-4.col-sm-6
      img.img-circle.img-responsive(src='http://lorempixel.com/200/200/cats/')
      h3
        | Harry Furball 
        small Job Title
      p
        | What does this team member to? Keep it short! This is also a great spot for social links!
    .col-lg-4.col-sm-6
      img.img-circle.img-responsive(src='http://lorempixel.com/200/200/cats/')
      h3
        | John Hairball III 
        small Job Title
      p
        | What does this team member to? Keep it short! This is also a great spot for social links!
    .col-lg-4.col-sm-6
      img.img-circle.img-responsive(src='http://lorempixel.com/200/200/cats/')
      h3
        | Sarah Catnip 
        small Job Title
      p
        | What does this team member to? Keep it short! This is also a great spot for social links!
