extends layout

block content
  .jumbotron
    h1 Site-Express site template
    p
      | I was reviewing static site frameworks like 
      a(href="http://docpad.org") Docpad  
      | and 
      a(href="http://assemble.io/") Assemble
      |, but I realised that eventually when working on most sites you need some sort of interactivity for things like contact forms and other things. Besides Express doesn't add that much overhead to projects - it's barely more complex than using a static framework and much more flexible.
    p
      a.btn.btn-lg.btn-primary(href='https://github.com/darcyclark/simple-express') View on Github »
