doctype html
html(lang='en')
head
  meta(charset='utf-8')
  link(rel='stylesheet', href='/css/bootstrap-theme.css')
  link(rel='stylesheet', href='/vendor/blueimp-gallery/css/blueimp-gallery.min.css')
  link(rel='stylesheet', href='/css/styles.css')
  title #{brand} - #{title}
  meta(description=description)
body
  include partials/navbar
  .container
    block content
    include partials/footer
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
