doctype html
html(lang='en')
head
  meta(charset='utf-8')
  link(rel='stylesheet', href='/vendor/css/bootstrap.css')
  link(rel='stylesheet', href='/css/style.css')
  title= title
body
  include partials/navbar
  .container
    .row
      .col-md-2
        include partials/blog/menu
      .col-md-10
        h1=title
        block content
script(src='/vendor/js/bootstrap.min.js')
script(src='/vendor/js/jquery.min.js')
