--- yaml
layout: 'default'
title: 'Contact Us'
---

h1 Contact Us
p The form is below is an example of a "static" page (/static/src/documents/contact.html.jade) managed by Docpad that submits to a dynamic route served by Express (/routes/dynamic.js) via a simple AngularJS controller (/static/src/documents/scripts/script.js).
p All it does is echo back capitalized text, but it hopefully demonstrates that we have a working hybrid of a static Docpad site that can be paired with the interactive capabilities of Express when needed.

form(ng-submit="submit()", ng-controller="Ctrl")
  input(type="text", ng-model="text", name="text")
  input(type="submit", value="submit")
  br
  p
    strong
      {{message}}
