---
title: Support Index
layout: page
---

nav.linklist
  each doc in getCollection('pages').toJSON()
    li
      span= doc.date.toDateString()
      |  &raquo;&nbsp;
      a(href=doc.url+'.html')= doc.title
