extends ../layout

block content
  .well
    h1 Support Index
    p This is a normally routed view that could be made interactive.
    p It could for instance collate articles and maybe have a form to submitting support requests.

  ul
    each f in pages
      li
        | [ #{f[2]} ] 
        a(href='support/pages/#{f[0]}')=f[1]
