extends ../../layout

block content

  :textile
    h3. Support page 

    This is embedded "Textile":http://borgar.github.io/textile-js/ wiki text, ideal for text-heavy content such as support docs.

  .well 
    include:textile page.textile
