.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      ul.nav.navbar-nav
        li.active
          a(href='/') Home
        li
          a(href='/pages/about.html') About
        li
          a(href='/blog/') Blog
        li
          a(href='/support/') Support
        li
          a(href='/pages/contact.html') Contact

