extends layout

block content
  h1= title
  p Welcome to #{title}

  :textile
    *Embedded Textile*

    plain text

  :markdown
    *Embedded Markdown*

    plain text

  include:md page.md
  include:textile page.textile
